.git
.vs
node_modules
frontend/dist
frontend/legacy
frontend/node_modules
frontend/.babelrc
dbtest
compose-dev.yml
compose-prod.yml
frontend/environments
Dockerfile
yarn-error.log
package.json
package-lock.json
environments
server