/*Used for coloring hitboxes*/
.red {
  background-color: red;
}
.purple {
  background-color: #834C9F
}
.yellow {
  background-color: yellow
}
.orange {
  background-color: orange
}
.white {
  background-color: whitesmoke
}
.magenta {
  background-color: #B43D8F
}
.pink {
  background-color: lightpink;
}
.cyan {
  background-color: #1F9E8B;
}
.green {
  background-color: palegreen;
}
.light-red {
    background-color: #CC6950;
}
.light-purple {
	background-color: #9F609F;
}
.no-color {
  background-color: black;
  color: white
}