

#imgPortal {
  max-width: 100%;
}

#moveFrame {
  max-width: 100%;
  min-width: 100%;
  max-height: 600px;
}

@media screen and (max-width:450px) {
    #moveContainer {
        width: 95%;
        margin: auto;
        position: relative;
    }
}

@media screen and (min-width:451px) {
    #moveContainer {
        width: 50%;
        margin: auto;
        position: relative;
    }
}