/*Prevent screen shaking*/
html{ overflow-y: scroll;}

@font-face {
	font-family: 'DFGothic-SU';
	src: url('fonts/DFGothic-SU.eot');
	src: url('fonts/DFGothic-SU.eot?#iefix') format('embedded-opentype'), url('fonts/DFGothic-SU.woff2') format('woff2'), url('fonts/DFGothic-SU.woff') format('woff'), url('fonts/DFGothic-SU.svg#DFGothic-SU') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00F7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
	text-align: center;
	
}

body {
	background-image: url("../../media/grid-background.png");
}
