<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script defer src="../src/index.js"></script>
    <link rel="stylesheet" href="../views/css/dropDown.css">
    <link rel="stylesheet" href="../views/css/move.css">
    <link rel="stylesheet" href="../views/css/button.css">
    <link rel="stylesheet" href="../views/css/slide.css">
    <link rel="stylesheet" href="../views/css/options.css">
    <link rel="stylesheet" href="../views/css/color.css">
    <link rel="stylesheet" href="../views/css/style.css">
    <link rel="stylesheet" href="../views/css/hitbox-data.css">
</head>
<body>

    <h2>Smash Ultimate Hitbox Viewer</h2>

		<div class="container">
			<script>var name = "<%= name %>";</script>
			<div id=dropDownContainer>
				<select name="characters" id="characterDropDown" class="dropDown" onchange="loadMoveList()">
					<option value="none">Choose a Character</option>
					<option value="mario">Mario</option>
					<option value="donkey-kong">Donkey Kong</option>
					<option value="link">Link</option>
					<option value="yoshi">Yoshi</option>
					<option value="captain-falcon">Captain Falcon</option>
					<option value="bowser">Bowser</option>
					<option value="zelda">Zelda</option>
					<option value="lucina">Lucina</option>
					<option value="little-mac">Little Mac</option>
					<option value="ridley">Ridley</option>
				</select>

				<select name="moves" id="moveDropDown" class="dropDown" disabled onchange="loadMove()">
					<option value="none">Choose a Move</option>
				</select>
			</div>
		</div>


    <div class="container">
        <div id="imgPortal">
            <img id="moveFrame">
        </div>
    </div>

    <div id="slidecontainer">
        <input type="range" min="1" max="1" value="1" class="slider" id="videoSlider" style="width: 100%" oninput="changeSlider()" list="steplist">
        <datalist id="steplist">
        </datalist>
        <div id="frameCountContainer">
            Frame: <div id="frameCount"></div>
        </div>
    </div>

    <div class="container">
        <div id="buttonContainer">
            <img class="video-buttons-disabled" id="decrement" src=../media/minus.png>
            <img class="video-buttons-disabled" id="play" src=../media/play.png>
            <img class="video-buttons-disabled" id="increment" src=../media/plus.png>
        </div>
    </div>

		<div class="container">
			<div id="optionsContainer">
				Play Speed:
				<select name="playSpeed" id="playSpeed" onchange="changeSpeed()" class="option">
					<option value=".5">2x</option>
					<option value="1">1x</option>
					<option selected value="2">.5x</option>
					<option value="4">.25x</option>
					<option value="10">.1x</option>
				</select>

				<div class="option" id="faf">
					<input type="checkbox">Only show until FAF
				</div>
			</div>

		</div>

    <div class="container">
        <div id="hitbox-info">
            <table id="hitbox-table">
                <tr class='no-color'>
                    <th>Dmg</th>
                    <th>SD</th>
                    <th>Angle</th>
                    <th>BKB</th>
                    <th>KBG</th>
                    <th>FKB</th>
                    <th>Trip</th>
                    <th>Ground/Air</th>
                    <th>Effect</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
