.App {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#chooseCharacter {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}

@media (max-width: 1200px) {
  #chooseCharacter {
    cursor: pointer;
    width: 30%;
    height: 3em;
    font-size: 10px;
  }
  h3 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}