.App {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#chooseCharacter {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}

@media (max-width: 1200px) {
  #chooseCharacter {
    cursor: pointer;
    width: 30%;
    height: 3em;
    font-size: 10px;
  }
  h3 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

#exitInfo {
  position: absolute;
  left: 0%;
  top: 0%;
  cursor: pointer;
  width: 5%
}

#infoButton {
  position: absolute;
  left: 0%;
  top: 0%;
  cursor: pointer;
  width: 5%;
}

@media (min-width: 500px) {
  #exitInfo {
    width: 3%
  }
  #infoButton {
    width: 3%
  }
}

