.App {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*General Header settings*/
#header {
  display: inline;
  width: 100%;
  top: 0%;
}

h3 {
  margin-top: 0;
  margin-bottom: .5em;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

#exitInfo {
  position: absolute;
  left: 0%;
  top: 0%;
  cursor: pointer;
}

#help {
  left: 0%;
  top: 0%;
  position: absolute;
}

#links {
  right: 0%;
  top: 0%;
  position: absolute;
}

.helpButtons {
  cursor: pointer;
  float: left;
}

.linkButtons {
  cursor: pointer;
  float: right;
}

#chooseCharacter {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
  font-size: 10px;
}

/*Sizing for Desktop*/
@media (min-width: 500px) {
  #exitInfo {
    width: 3%
  }
  .helpButtons, .linkButtons {
    width: 5%
  }

  #twitter {
    margin-left: 1%;
  }

  #settingsButton {
    margin-left: 1%
  }

  #chooseCharacter {
    width: 10%;
    height: 3em;
  }
}

/*Sizing for Mobile*/
@media (max-width: 500px) {
  #exitInfo {
    width: 7%
  }

  .helpButtons, .linkButtons {
    width: 7%;
  }

  #twitter {
    margin-left: 2%;
  }

  #settingsButton {
    margin-left: 2%
  }

  #chooseCharacter {
    width: 30%;
    height: 3em;
  }

  h3 {
    font-size: 15px;
  }
}