.button {
	cursor: pointer;
	width: 5%;
	
}

.buttonNoClick {
	width: 5%;
	opacity: .2;
}

#previous, #pause-play, #minus, #plus {
	margin-right: 5%
}

@media (max-width: 1200px) {
	.button, .buttonNoClick {
		width: 15%;
	}

}

.speedButton {
	display: inline;
	
}

#tenthSpeed, #quarterSpeed, #halfSpeed, #baseSpeed, #doubleSpeed {
	margin-left: 5%;
}