#characterList {
	left:			0%;
	top:			0%;
	width: 100%;
	height: 100%
}

#searchbar {
	display: block;
	margin: 0 auto;
	height: 2em;
	background-color: lightgray;
	color: black;
}

#exit {
	position: absolute;
	left: 0%;
	top: 0%;
	cursor: pointer;
}

@media (max-width: 1200px) {
	#exit {
		width: 10%
	}
	#searchbar {
		width: 60%
	}
}

@media (min-width: 1200px) {
	#exit {
		width: 3%
	}
	#searchbar {
		width: 40%
	}
}

label {
	font-size: 15;
}

