#characterList {
	left:			0%;
	top:			0%;
	width: 100%;
	height: 100%
}

#searchbar {
	display: block;
	margin: 0 auto;
	height: 2em;
	background-color: lightgray;
	color: black;
}

@media (max-width: 1200px) {
	#searchbar {
		width: 60%
	}
	
}

@media (min-width: 1200px) {
	#searchbar {
		width: 40%
	}
	#name {
		margin-left: 2%
	}
}

#name, #number {
	cursor: pointer;
}

label {
	font-size: 15;
}