#characterList {
	position: absolute;
	left:			0%;
	top:			0%;
	background-color: #282c34;
	width: 100%;
	height: 100%
}

@media (max-width: 1200px) {
	#exit {
		width: 10%
	}
}

@media (min-width: 1200px) {
	#exit {
		width: 3%
	}
}

#exit {
	position: absolute;
	left: 0%;
	top: 0%;
	cursor: pointer;
}

#searchbar {
	display: block;
	margin:0 auto;
	height: 2em;
	width: 40%
}

label {
	font-size: 15;
}

