.character {
	border: solid black 2px;
	display: inline-block;
	width: 300px;
	height: 100px;
	margin: 10px;
	position: relative;
	font-size: .7em;
}

@media (max-width: 1200px) {
	.character {
	}
}

@media (min-width: 1200px) {
	.character {
	}

}

.character-complete {
	opacity: 1.0;
	cursor: pointer;
}

.character-incomplete {
	opacity: 0.4;
}

.character-dark {
	background-color: white;
	color: black;
}

.character-light {
	background-color: gray;
	color: white;
}

.character-complete:hover {
	border: solid gold 2px;
}

.name-dark {
	text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
	left: 1%;
	font-size: 1.5vw;
	position: absolute;
}

.name-light {
	left: 1%;
	text-shadow: -1px 1px 0 gray, 1px 1px 0 gray, 1px -1px 0 gray, -1px -1px 0 gray;
	font-size: 1.5vw;
	position: absolute;
}

.number {
	left: 0%;
	top: 0%;
	text-align: right;
	position: absolute;
}

.version {
	right: 0%;
	bottom: 0%;
	text-align: right;
	position: absolute;
}

.series-icon {
	height: 60%;
	right: 0%;
	position: absolute;
}