@media (max-width: 400px) {
	table, th, td {
		font-size: .8em;
	}
}

.darkTable {
	color: white;
	border: 1px solid white;
}

.lightTable {
	color: black;
	border: 1px solid black;
}

.lightTableLightText {
	color: white;
	border: 1px solid black;
}

.darkTableDarkText {
	color: black;
	border: 1px solid white;
}

table, th, td {
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

span {
	font-size: .6em;
}

.tableheader {
	cursor: help;
}

th {
	background-color: gray;
}

#moveNotes {
	font-size: .6em;
}

th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}