/*General Header settings*/
#header {
	top: 0%;
	width: 100%;
}

h3 {
	margin-top: 0;
	margin-bottom: .5em;
}

h5 {
	margin-top: 0;
	margin-bottom: 0;
}

#exitInfo {
	position: absolute;
	left: 0%;
	top: 0%;
	cursor: pointer;
}

#help, #links {
	width: 20%;
	display: inline-block;
}

#title {
	width: 60%;
	display: inline-block;
}

.helpButtons {
	cursor: pointer;
	float: left;
}

.linkButtons {
	cursor: pointer;
	float: right;
}

#settingsButton {
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;

}

#settingsButton:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

@media (min-width: 500px) {
	#exitInfo {
		width: 3%
	}

	.helpButtons, .linkButtons {
		width: 15%
	}

	#twitter, #settingsButton {
		margin-left: 5%;
	}
}

/*Sizing for Mobile*/
@media (max-width: 500px) {
	#exitInfo {
		width: 7%
	}

	.helpButtons, .linkButtons {
		width: 40%;
	}

	#twitter, #settingsButton {
		margin-left: 10%;
	}

	h3 {
		font-size: 15px;
	}
}