#hitboxDetail {
	position: absolute;
	top: 10%;
	color: black;
	background-color: white;
	display: block;
	font-size: 15px;
	margin: 0;
}

@media (min-width: 1200px) {
	#hitboxDetail {
		width: 40%;
		left: 30%;
	}
}

@media (max-width: 1200px) {
	#hitboxDetail {
		width: 75%;
		left: 12.5%;
	}
}

p {
	margin: 0;
	padding: 0;
}