#hitboxDetail {
	position: absolute;
	top: 10%;
	color: black;
	background-color: white;
	display: block;
	font-size: 15px;
	margin: 0;
	z-index: 1;
}

.fadeOut{
	opacity:0; 
	transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
	pointer-events:none;

}
.fadeIn{
	opacity:1;
	transition: width 0.5s, height 0.5s, opacity 0.5s;

}

@media (min-width: 1200px) {
	#hitboxDetail {
		width: 40%;
		left: 30%;
	}
}

@media (max-width: 1200px) {
	#hitboxDetail {
		width: 75%;
		left: 12.5%;
	}
}

p {
	margin: 0;
	padding: 0;
}

#exit {
	position: absolute;
	left: 0%;
	top: 0%;
	cursor: pointer;
}

@media (max-width: 1200px) {
	#exit {
		width: 10%
	}
}

@media (min-width: 1200px) {
	#exit {
		width: 3%
	}
}