#moveDropDown {
	border-color: black;
	border-width: 2px;
}

@media (min-width: 500px) {
	#moveDropDown {
		width: 10%;
		font-size: 15px;
	}
}

/*Sizing for Mobile*/
@media (max-width: 500px) {
	#moveDropDown {
		width: 40%;
		font-size: 12px;
	}
}

.darkMoveDropDown, .darkMoveEntry {
	background-color: white;
	color: black;
}

.lightMoveDropDown, .lightMoveEntry {
	background-color: black;
	color: white;
}
