#moveImg {
	max-width: 100%;
	max-height: 14.5em;
}

#moveImg-loading {
	width: 100%;
	max-height: 14.5em;
}

#share {
	position: absolute;
	cursor: pointer;
	width: 2%;
}
/*Sizing for Desktop*/
@media (min-width: 500px) {
	#share {
		width: 2%;
	}
}

/*Sizing for Mobile*/
@media (max-width: 500px) {
	#share {
		width: 5%
	}
}

#player {
	width: 80%;
	margin-left: 10%;
	position: relative;
}