#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-120%);
}

#loadingContainer {
	width: 100%;
	background-color: grey;
}

#moveImg {
	max-width: 80%;
	max-height: 14.5em;
}

#player {
}

#share {
	position: absolute;
	cursor: pointer;
	width: 2%;
}
/*Sizing for Desktop*/
@media (min-width: 500px) {
	#share {
		width: 2%;
	}
}

/*Sizing for Mobile*/
@media (max-width: 500px) {
	#share {
		width: 5%
	}
}