#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#loadingContainer {
	width: 100%;
	background-color: grey;
}

#moveImg {
	max-width: 80%;
	max-height: 18em;
}

#portal {
	position: relative;
}