#settingsPage {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%
}

.settingDiv {
	font-size: .8em;
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

.setting {
	font-size: 2em;
}

.settingDescription {
	font-size: 1em;
}

.settingHeader {
	cursor: pointer;
}


@media (max-width: 1200px) {
	
}

@media (min-width: 1200px) {
	.settingCheckbox {
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}