

@media (max-width: 1200px) {
  #videoSlider {
    width: 80%
  }
}

@media (min-width: 1200px) {
  #videoSlider {
    width: 100%
  }
}

#sliderContainer {

}

/*
input[type='range'] {
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(to right, white 5.26%, red 5.26%, red 15.78%, white 15.78%)
  }
*/