

@media (max-width: 1200px) {
  #videoSlider {
    width: 80%
  }
}

#videoSlider {
  width: 100%
}

#sliderContainer {
	background-color: #282c34;
}

/*
    thumbHeight = 20px,
    thumbBorderWidth = 4px,
    trackColor = #ccc,
    activeTrackColor = #777,
    trackHeight = 4px,
    thumbColor = red,
    activeThumbColor = darkOrange
  */
